{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'muni_election/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'muni_election/css/form.css' %}">
</head>
<header>
    <div class="topnav">
        <a class="active" href="{% url 'vote' %}">Caste Vote</a>
        <a href="{% url 'standings' %}">Standings</a>
        <a href="{% url 'change_password' %}">Change Password</a>
        <a style="float:right;" href="{% url 'logout' %}">Logout</a>
    </div>
</header>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>