{% extends 'main/base.html'%}
{% load i18n static %}
{%block title%}Online Election|Index{% endblock %}
{%block content%}
<h1>{% translate "Welcome to the election." %}</h1>
<p>{{mes}}</p>
<form action="" method="POST">
	<fieldset>
		{% csrf_token %}
		<table class="styled-table">
			{{form}}
		</table>
		<input type="submit" value="Login" class="{% translate 'submit' %}">
		<br>
		<a style="margin: 0 auto; display:block; text-align: center" href="{% url 'password_reset' %}">{% translate "Click here to Set/Reset Your Password" %}</a>
	</fieldset>
</form>
{% endblock %}