{% extends 'main/base.html'%}
{% load i18n %}
{%block title%}Online Election|Reset Password{% endblock %}
{%block content%}
<h1>{% translate "Password Set or Reset" %}</h1>
<p>{% translate "If you did not set your password yet or if you forgot your password, you can request a password reset below." %}
    {% translate "To request a password reset enter the email you used to register for the national id." %}</p>
<form method="POST" style="width: 50%;">
    <fieldset>
        {% csrf_token %}
        <table class="styled-table">
            {{form}}
        </table>
        <input type="submit" class="submit" value="{% translate 'Send Request' %}">
    </fieldset>
</form>
{%endblock%}