{% extends 'main/base.html'%}
{% load i18n %}
{%block title%}Online Election|Reset Password{% endblock %}
{%block content%}
{% if validlink %}
<h1>{% translate "Set or Reset your password." %}</h1>
<p>{% translate "Enter the new password below twice and submit to set/reset your password." %}</p>
<form method="POST">
    <fieldset>
        {% csrf_token %}
        <table class="styled-table">
            {{form}}
        </table>
        <input type="submit" class="submit" value="{% translate 'Set/Reset Password' %}">
    </fieldset>
</form>
{% else %}
<table class="notice">
    <td>{% translate "Invalid link..!" %}<br>{% translate "The link is either invalid or expired. Please request again with a valid link." %}</td>
    </table>
{% endif %}
{%endblock%}