{% extends 'main/base.html'%}
{%block title%}Online Election|Reset Password{% endblock %}
{%block content%}
<h1>Password Set or Reset</h1>
<p>If you did not set your password yet or if you forgot your password, you can request a password reset below. 
    To request a password reset enter the email you used to register for the national id.</p>
<form method="POST">
    <fieldset>
    {% csrf_token %}
        <table class="styled-table">
        {{form}}
        </table>
        <br>
    <input type="submit" class="submit" value="Send Request">
    </fieldset>
</form>
{%endblock%}