{% extends 'main/base.html'%}
{%block title%}Online Election|Reset Password{% endblock %}
{%block content%}
{% if validlink %}
<h1>Set or Reset your password.</h1>
<p>Enter the new password below twice and submit to set/reset your password.</p>
<form method="POST">
    <fieldset>
        {% csrf_token %}
        <table class="styled-table">
            {{form}}
        </table>
        <input type="submit" class="submit" value="Set/Reset Password">
    </fieldset>
</form>
{% else %}
<h1>Invalid link..!!</h1>
<p>The link is either invalid or expired. Please request again with a valid link.</p>
{% endif %}
{%endblock%}