@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

body {
  background-color: #efefef;
  color: red;
  font-size: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'top_secretregular';
    text-align:center;
    color:#01caa7;
}
p {
  text-align:center;
  color:rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
}
form {
  border-top: 8px solid #01caa7;
  width: 606px;
  margin: 40px auto;
}

fieldset {
  margin: auto;
  width: 470px;
  height: auto;
  border: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  background: #fdfdfd;
  padding: 40px;
}

form div {
  padding: 0 0 40px 0;
}

form label {
  float: left;
  width: 200px;
  font-size: .7em;
  color: #111;
}

form label.mid {
  line-height: 20px;
}

form input, form select {
 background: #01caa7;
	border: 2px solid #fff;
	color: #fff;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1em;
	font-weight: 400;
	height: 30px;
	margin: 0;
	padding: 0 2px;
	width: 240px;
 vertical-align: middle;
}

form input:hover, form select:hover, form textarea:hover {
	border: 2px solid #2b7b5c;
}

form input:focus, form select:focus, form textarea:focus {
  border-color: #2b7b5c;
  outline: none;
}

form select {
  float: left;
  margin-bottom: 2px;
  appearance: none;
  width: 260px;
  border-radius: 0;
}

form input.checkbox, form input.radio {
  margin: 0;
  padding: 2px 0;
  width: auto;
  height: auto;
}

form input.button {
  width: 270px;
  height: 40px;
  border: 0px solid green;
}

form textarea {
  width: 240px;
  height: 200px;
  padding: 2px;
  background: #01caa7;
	 border: 2px solid #fff;
	 color: #fff;
}

form input.submit {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5em;
  margin-left: 25%;
  width: 50%;
  height: 50px;
  color: #fff;
  border: 2px solid #07684e;
  border-radius: 40px;
}

form input.submit:hover {
 background: #1d9676;
	background: -webkit-linear-gradient(#1d9676, #01caa7);
	background: -moz-linear-gradient(#1d9676, #01caa7);
	background: -o-linear-gradient(#1d9676, #01caa7);
	background: -ms-linear-gradient(#1d9676, #01caa7);
	background: linear-gradient(#1d9676, #01caa7);
  border: 2px solid #07684e;
  padding: 10px;
  border-radius: 50px 20px;
}

input.button {
  width: 270px;
  height: 40px;
  border: 0px solid green;
}

input.submit {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5em;
  margin-left: 25%;
  width: 20%;
  height: 50px;
  color: #fff;
}

input.submit:hover {
 background: #1d9676;
  background: -webkit-linear-gradient(#1d9676, #01caa7);
  background: -moz-linear-gradient(#1d9676, #01caa7);
  background: -o-linear-gradient(#1d9676, #01caa7);
  background: -ms-linear-gradient(#1d9676, #01caa7);
  background: linear-gradient(#1d9676, #01caa7);
}

.styled-table {
  border-collapse: collapse;
  margin: auto 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 30%;
  max-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th{
  color:#D5DDE5;;
  background:#01caa7;
  font-size:23px;
  font-weight: 100;
  padding:12px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}
.styled-table td {
  padding: 8px 11px;
}
.styled-table tbody tr {
  border-bottom: 2px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
  background-color: #dad6d6;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}